
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  font: 14px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 375px;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.auto {
  margin: auto;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: rgb(41, 87, 173);
}

body {
  background-color: whitesmoke;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 40px;
  align-items: center;
}

.top-text {
  margin-right: 6px;
  font-size: 12px;
  line-height: 1.4;
}

.button {
  padding: 5px 25px;
  background-color: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  cursor: pointer;
  color: white;
}

.infozone {
  border: white;
}

.minortext {
  font-size: 10px;
  color: gray;
}

.word {
  text-align: center;
}

.icons {
  margin-top: 35px;
}

.icons img {
  height: 50px;
}

.thrinity-icons {
  margin-bottom: 30px;
  font-size: 18px;
}

.thrinity-icons img {
  height: 25px;
}

form input {
  background: #fff;
  border: 1px solid #c6c7cc;
  color: #636466;
  padding: 8px;
  margin-top: 6px;
  width: 100%;
  border-radius: 3px;
}

.box-content {
  padding: 10px;
}

.create {
  background-color: #0077c5;
  color: #fff;
}

.PrivacyStatement {
  font-style: italic;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 60px;
  text-align: center;
}

.footgray {
  background-color: #eceef1;
  border: 1px  solid #c6c7cc;
  border-top: none;
  font: 9px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 375px;
  color: grey;
  padding-bottom: 20px;
  padding-top: 15px;
}

form .footgray {
  margin: 0;
  padding: 0;
}

.legal-consent {
  justify-content: space-evenly;
  width: 30%;
  list-style-type: none;
}

footer ul a {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.thrinity-icons a {
  margin-right: 3px;
  color: #838888;
}

.button a {
  color: #fff;
  font-size: 13px;
  font-family: inherit;
}

footer {
  width: 650px;
  font: 11px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #636466;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

h2.hidden { visibility: hidden; }